body {
    margin: 60px auto;
    width: 70%;
}
.bg {
  position: relative;
  height: 100vh;
}
.bg:before {
  background: url("../images/UGH.jpg") center / cover;
  content: '';
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: -1;
  opacity: 0.5;
}

@keyframes box-fade {
	from{opacity: 0;}
	to {opacity: 0.75;}
}

@keyframes text-fade {
	from{opacity: 0;}
	to {opacity: 1;}
}

.box {
	background-color: white;
	position: relative;
	left: 500px;
	top: 50px; 
	height: 550px;
	width: 400px; 
	opacity: 0.75; 
	animation-name: box-fade;
	animation-duration: 4s; 
}

.content h2 {
	color: #999; 
	font-family: Elephant;
	position: absolute;
	left: 20px; 
	top: 15px; 
	opacity: 1;
	animation-name: text-fade;
	animation-duration: 8s; 
}

.emphasis {
	color: #999; 
	font-family: Georgia; 
	font-size: 1em; 
	opacity: 1; 
	animation-name: text-fade;
	animation-duration: 20s; 
	
}

.content p {
	color: #999; 
	font-family: Georgia; 
	font-size: 1em; 
	position: absolute;
	left: 50px; 
	top: 75px; 
	width: 300px; 
	opacity: 1; 
	animation-name: text-fade;
	animation-duration: 2s; 

}

.social {
	margin: 0 auto;
	width: 280px;
}

nav ul, footer ul {
    font-family:'Elephant', 'Helvetica';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
